VITE_API_URL=http://localhost:5000/api
VITE_WHATSAPP_NUMBER=919865975714
VITE_SUPABASE_URL=https://nnutsoivygctmkyzzvyw.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im5udXRzb2l2eWdjdG1reXp6dnl3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODkwNTk4MDAsImV4cCI6MjEwNDYzNTgwMH0.x--4qtwNsTJu0D0mnh8_L68ORhcd3FDfOYGtgqivryI
NEXT_PUBLIC_SUPABASE_URL=https://nnutsoivygctmkyzzvyw.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_vt8T8KvuA1utwxnBnuqksw_RjgY2qLX
SUPABASE_SERVICE_ROLE_KEY=
VITE_ADMIN_ID=admin
VITE_ADMIN_PASSWORD=admin123
VITE_STAFF_ID=staff
VITE_STAFF_PASSWORD=staff123
